<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<title>Registro de empleados</title>
	</head>
	
	<body>
		<div class="logo-container">
		        <img src="/images/logo.png" alt="Logo" class="logo">
		</div>
		<div class="container">
		        <h1 class="text-center my-4">Registro empleados</h1>
		        
		        <form method="post" th:action="@{/registrar}" th:object="${empleado}" class="needs-validation" novalidate>
		            <div class="form-group">
		                <label for="nombre">Nombre</label>
		                <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" th:field="*{nombre}" required>
		                <div class="invalid-feedback">
		                    Por favor ingrese su nombre.
		                </div>
		            </div>
		            <div class="form-group">
		                <label for="apellido">Apellido</label>
		                <input type="text" class="form-control" id="apellido" placeholder="Ingrese su Apellido" th:field="*{apellido}" required>
		                <div class="invalid-feedback">
		                    Por favor ingrese su apellido.
		                </div>
		            </div>
		            <div class="form-group">
		                <label for="nota">Calificación</label>
		                <input type="number" class="form-control" id="nota" placeholder="Ingrese su Calificación" th:field="*{nota}" required>
		                <div class="invalid-feedback">
		                    Por favor ingrese su calificación.
		                </div>
		            </div>
		            <button type="submit" class="btn btn-primary">Enviar</button>
		        </form>
		        
		        <h2 class="my-4">Reporte</h2>
		        <p><strong>Nombre:</strong> <span th:text="${a_nombre}"></span></p>
		        <p><strong>Apellido:</strong> <span th:text="${a_apellido}"></span></p>
		        <p><strong>Calificación:</strong> <span th:text="${a_nota}"></span></p>
		        <p><strong>Condición:</strong> <span th:text="${condicion}"></span></p>
		    </div>
		    
			<script>
			        // Bootstrap custom validation script
			        (function() {
			            'use strict';
			            window.addEventListener('load', function() {
			                var forms = document.getElementsByClassName('needs-validation');
			                var validation = Array.prototype.filter.call(forms, function(form) {
			                    form.addEventListener('submit', function(event) {
			                        if (form.checkValidity() === false) {
			                            event.preventDefault();
			                            event.stopPropagation();
			                        }
			                        form.classList.add('was-validated');
			                    }, false);
			                });
			            }, false);
			        })();
			    </script>
</html>